* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Comics Sans MS", cursive, sans-serif;
}
h1 {
  font-size: 70px;
  padding: 10px;
}
h2 {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 25px;
}
.encabezado {
  height: 250px;
  /* margin: 2px; */
  /* border: 1px solid black; */
  background-image: url("../img/banner1.jpg");
  background-position:center;
  background-size:contain;
 opacity: 0.9; 
}
.logo {
  position: absolute;
  top: 170px;
  right: 100px;
  filter: drop-shadow(0 0 5px blue);
  
  /* rotate: 53deg;  */
}
.logo > figure > img {
  width: 150px;
  height: 150px;
   filter: drop-shadow(0 0 5px rgb(0, 255, 242)); /*util para sombrear la imagen */
  

}
.logo > figure > img:hover {
  filter: drop-shadow(0 0 5px blue); /*util para sombrear la imagen*/
  transform: scale(1.5);
  
}
/* .titulo {
  margin: 2px;
} */
main {
  /* margin: 2px; */
  /*border: 1px solid black;*/
  position: relative;
}
nav {
  display: inline-block;
  /*border: 2px solid red;*/
  width: 20%;
  height: 100%;
  position: absolute;
}
nav a {
  display: block;
  /*border: 2px solid pink;*/
  padding: 15px;
  margin: 3px;
  color: black;
}
nav a:hover {
  transform: translate(10px);
}
.linkinactivo {
  text-decoration: none;
  color: grey;
}
.section {
  display: inline-block;
  margin-left: 20%;
  /*border: 2px solid green;*/
  width: 80%;
  height: 100%;
  position: absolute;
}
article {
  /*border: 2px solid yellow;*/
  padding: 8px;
  margin: 3px;
}
